<% provide(:title, t('Settings')) %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group row">
    <%= f.label :first_name, class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: "First Name"%>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :last_name, class:"col-sm-3 col-form-label"  %>
    <div class="col-sm-9">
      <%= f.text_field :last_name, class: 'form-control', placeholder: "Last Name" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :date_of_birth, class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.date_select :date_of_birth, {order: [:day, :month, :year],
                                         prompt: { day: 'Select day', month: 'Select month', year: 'Select year' },
                                         start_year: Date.today.year - 5, end_year: Date.today.year - 100}, class: 'custom-select col-sm-3' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :phone_number, class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.text_field :phone_number, class: 'form-control', placeholder: "0XXXXXXXX", type:'number' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :preferred_language, class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.select :preferred_language, %w(Romanian Russian English), {}, class: 'custom-select' %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :email, class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.email_field :email, class: 'form-control', placeholder: "Email", autocomplete: "email" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group row">
    <%= f.label :password, class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.password_field :password, class: 'form-control', placeholder: "Leave blank if you don't want to change it", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :password_confirmation, class:"col-sm-3 col-form-label" %>
    <div class="col-sm-9">
      <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Password confirmation",
                           autocomplete: "new-password" %>
    </div>
  </div>

  <hr>

  <div class="form-group row">
    <div class="col-sm-3">
      <%= f.label :current_password, class:"col-form-label" %><br>
      <i>(we need your current password to confirm your changes)</i>
    </div>
    <div class="col-sm-9">
      <%= f.password_field :current_password, class: 'form-control', placeholder: "Current password",
                           autocomplete: "current-password" %>
    </div>
  </div>

  <br>

  <div class="actions">
    <%= f.submit "Update", class:'btn btn-primary' %>
  </div>
<% end %>

<br>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },
                          method: :delete, class: 'btn btn-secondary' %></p>

<%= link_to "Back", :back %>
