<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" max-width="1900">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("carousel_1_1.jpg", :alt => "First slide", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel_2_1.jpg", :alt => "Second slide", :class => "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("carousel_3_1.jpg", :alt => "Third slide", :class => "d-block w-100") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container">
  <div class="row">
    <p class="col-sm-12" style="font-weight: 400;">
      <b>International Study Centre for Educational Opportunities (ISCEO)</b> это образовательный центр, который
      предлагает
      возможность познакомиться с иностранными языками в сотрудничестве с психологом для всех, кто заинтересован в этом
      лично
      развитие.
    </p>
  </div>
  <div class="row">
    <p class="col-sm-7 static">
      Изучение иностранного языка можно считать общественным мероприятием, отличным от любого другого школьного
      предмета,
      поскольку язык принадлежит социальной части человеческой природы, он является частью человеческой идентичности.
      Изучая
      Иностранный язык включает в себя гораздо больше, чем просто способность кого-то учиться и понимать набор четко
      определенных
      правила или грамматика; это включает изменение в восприятии себя, принятие нового поведения от
      социальная и культурная точка зрения, и поэтому она влияет на социальный аспект вашей жизни и на вашу личность
      (независимо от возраста) очень значимо.
    </p>
    <div class="col-sm-5">
      <%= image_tag 'home_1.jpg', alt: "Picture", class: 'img-fluid img-static' %>
    </div>
  </div>
  <br>
  <div class="row">
    <p class="col-sm-7">
      Мы рады поделиться тем, что мы знаем, чтобы помочь Вам стать тем, кем Вы можете быть, чтобы, подобно
      <a href="https://valydo.files.wordpress.com/2008/01/pescarusul-jonathan-livingstone.pdf">чайке Ричарда Баха</a>,
      Вы могли подняться над толпой, используя весь свой потенциал, потому что из всех удивительных истин, касающихся
      человеческая душа, которая была развита и выражена великими мыслителями 20-го века, никто не более
      Отрадно, что это:
    </p>
    <div class="col-sm-5">
      <%= image_tag 'home_2.jpg', alt: "Picture", class: 'img-fluid img-static img-hidden' %>
    </div>
  </div>
  <br>
  <div class="row col-sm-12">
    <blockquote class="blockquote text-right">
      <p class="mb-0">
        Человек - мастер мысли, модель характера, создатель и модельер ситуаций, среды и
        судьба. Будучи Силой, Разумом и Любовью и хозяином собственных мыслей, человек держит ключ
        в любой ситуации и имеет в себе преобразующую и восстанавливающую силу, которая делает его своим
        что он хочет.
      </p>
      <div class="blockquote-footer">Джеймс Аллен (1864-1912)</div>
    </blockquote>
  </div>
</div>
