<% provide(:title, t('News')) %>

<div class="row">
  <%= render 'shared/aside' %>

  <div class="col-sm-8">
    <% @posts.each do |post| %>
    <article>
      <h4 class="title"><%=link_to post.title, post %></h4>
      <br>
      <%=image_tag post.image.url, class: 'img-fluid', style: 'height: auto; width: 100%; display: block;' if post.image? %>
      <br>
      <%= post.short_content %>
    </article>
      <br>
    <% end %>
    <% if current_user.editor? %>
      <%= link_to t("New post"), new_post_path, class: "btn btn-primary", style: "text-align: right; float: right; margin: 0px 5px"  %>
    <% end %>
  </div>

  <%= will_paginate %>
 </div>