<% provide(:title, @post.title) %>

<div class="row">
  <div class="col-sm-4 sidebar">
    <button type="button" class="btn btn-primary">
      Notifications <span class="badge badge-light"><%= current_user.notifications.count %></span>
    </button>
    <% if current_user.has_role? :admin %>
      <%= render 'admin_aside' %>
    <% end %>
    <% if current_user.has_role? :teacher %>
      <%= render 'teacher_aside' %>
    <% end %>
    <% if (current_user.has_role? :parent) && current_user.has_confirmed_children? %>
      <%= render 'parent_aside' %>
    <% end %>
    <% if current_user.has_role? :student %>
      <%= render 'student_aside' %>
    <% end %>
    <h5 class="title"><%= link_to t("Timetable"), timetable_path %></h5>
  </div>
  <div class="col-sm-8">
    <%=image_tag @post.image.url, class: 'img-fluid', style: 'height: auto; width: 100%; display: block;' if @post.image? %>
    <br>
    <div>
      <% @post.content.split("\n").each do |line| %>
        <p><%= line %></p>
      <% end %>
    </div>
    <div class="row btn-row">
      <%= link_to t("Edit post"), edit_post_path(@post), class: "btn btn-light col-sm-4" if policy(@post).edit? %>
      <%= link_to t("Delete post"), @post, method: :delete, data: {confirm: t("Are you sure you want to delete this post?")}, class: "btn btn-danger col-sm-4" if policy(@post).destroy? %>
    </div>
  </div>
</div>