<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <ul>
          <li>
            <%= link_to raw('<span class="flag-icon flag-icon-ro"></span>'), url_for(locale: :ro), data: { turbolinks: false } %>
          </li>
          <li>
            <%= link_to raw('<span class="flag-icon flag-icon-ru"></span>'), url_for(locale: :ru), data: { turbolinks: false } %>
          </li>
          <li>
            <%= link_to raw('<span class="flag-icon flag-icon-gb"></span>'), url_for(locale: :en), data: { turbolinks: false } %>
          </li>
        </ul>
      </div>
      <!-- Copyright -->
      <div class="footer-copyright col-sm-4 text-center py-3">
        © <%= Time.current.year %> Copyright: Dan Gutu
<!--        <p style="text-align: center"> in colboration with Sparktech Software</p>-->
        <p style="text-align: center; margin-bottom: 0">in colboration with <%= image_tag 'logo_spark.png', alt: 'S.C. Sparktech Software S.R.L.', style: 'height: 12px;' %> </p>
      </div>
      <!-- Copyright -->
      <div class="col-sm-4">
        <ul class="right">
          <li><%= link_to t(:Home), root_path %></li>
          <li><%= link_to t(:About), about_path %></li>
          <li><%= link_to t(:Contact), contact_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>