<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <script>
        var locale = '<%= I18n.locale %>';
    </script>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.ico') %>
  </head>
  <body>
  <div id="big-container">
    <%= render 'layouts/header' %>
  <div id="content">
    <% if yield(:title).present? %>
      <div class="inner-headline">
        <div class="container">
          <h2><%= yield(:title) %></h2>
        </div>
      </div>
    <% end %>
    <div class="container">
      <%= render 'shared/alerts' %>
      <%= yield %>
    </div>
  </div>

    <%= render 'layouts/footer' %>
  </div>
  </body>
</html>