<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <% if yield(:title).present? %>
    <div class="inner-headline">
      <div class="container">
        <h2><%= yield(:title) %></h2>
      </div>
    </div>
    <br>
  <% end %>
  <%= render 'shared/alerts' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
  <div class="container">
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>